# ==========================================
# SYSTEM FILES
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================
venv/
.venv/
env/

# ==========================================
# BUILD & PACKAGES
# ==========================================
dist/
build/
*.egg-info/

# ==========================================
# IDEs & EDITORS
# ==========================================
.vscode/
.idea/
*.swp
*.swo
*.whl
!mlx-2.2-py3-none-any.whl

# ==========================================
# PROJECT OUTPUTS
# ==========================================
*.txt
!config.txt